@using FoodAir.Models
@model IEnumerable<DonDatHang>
@{
    ViewBag.Title = "DaGiaoHang";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}


    <nav class="nav nav-pills nav-justified">
        <a class="nav-item nav-link" href="@Url.Action("ChuaGiaoHang", "Admin")">Chưa Giao Hàng</a>
        <a class="nav-item nav-link active" href="@Url.Action("DaGiaoHang", "Admin")">Đã Giao Hàng</a>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Họ Và Tên KH</th>
                    <th scope="col">Ngày Đặt</th>
                    <th scope="col">Đã Hủy</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                QuanLiBanHangModel db = new QuanLiBanHangModel();
                KhachHang KH = db.KhachHangs.SingleOrDefault(n => n.MaKH == item.MaKH);
                <tbody>
                    <tr>
                        <td>@item.MaDDH</td>
                        <td>@KH.TenKH</td>
                        <td>@item.NgayDat</td>
                        <td>@item.DaHuy</td>

                    </tr>
                </tbody>
            }
        </table>

    </nav>